@inherits RazorEngineCore.RazorEngineTemplateBase<Linn.Stores2.Domain.LinnApps.Requisitions.RequisitionHeader>
@{
    <style>

        @@media print {
            @@page {
                size: A4 portrait;
                margin: 25px;
                margin-bottom: 20px;
            }

            thead {
                display: table-header-group;
            }
        }

        @@media screen {
            @@page {
                size: A4 portrait;
                margin: 50px;
            }

            thead {
                display: block;
                margin-left: 50px;
                margin-right: 600px;
                margin-top: 20px;
            }

            tbody {
                display: block;
                margin-top: 30px;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom: 20px;
            }
        }

        thead {
            font-size: 0.8em;
            font-family: Arial, sans-serif;
        }

        tbody {
            font-size: 0.8em;
            font-family: Arial, sans-serif;
        }

        .auto {
            grid: auto;
        }

        .department {
            grid-area: department;
        }

        .nominal {
            grid-area: nominal;
        }

        .req-number {
            grid-area: reqNumber;
        }

        .req-type {
            grid-area: reqType;
        }

        .created-by{
            grid-area: createdBy;
        }

        .date-created {
            grid-area: dateCreated;
        }

        .date-booked {
            grid-area: dateBooked;
        }

        .header-grid-container {
            row-gap: 10px;
            column-gap: 10px;
            display: grid;
            grid-template-areas:
            'reqNumber reqNumber reqType reqType reqType .'
            'createdBy createdBy dateCreated dateCreated dateBooked dateBooked'
            'department department department nominal nominal nominal'
        }

        .line-grid-container {
            column-gap: 10px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            row-gap: 5px;
        }

        .move-grid-container {
            column-gap: 10px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            row-gap: 5px;
        }

        #tcb-extension-uk-wrapper {
            display: none !important;
        }
    </style>
    <div>
        <table>
            <thead>
                <tr>
                    <td>
                        <div class="header-grid-container">
                            <div class="req-number">
                                <b>Req Number: @Model.ReqNumber</b>
                            </div>
                            <div class="req-type">
                                @Model.StoresFunction.Description
                            </div>
                            <div class="created-by">
                                Created By: @Model.CreatedBy.Name
                            </div>
                            <div class="date-created">
                                Date Created: @Model.DateCreated.ToString("dd-MMM-yyyy")
                            </div>
                            <div class="date-booked">
                                Date Booked: @Model.DateBooked?.ToString("dd-MMM-yyyy")
                            </div>
                            @if (Model.Department != null)
                            {
                                <div class="department">
                                    Department: @Model.Department.DepartmentCode @Model.Department.Description
                                </div>
                                <div class="nominal">
                                    Nominal: @Model.Nominal.NominalCode @Model.Nominal.Description
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="line-grid-container">
                            <div>
                                <b>Line</b>
                            </div>
                            <div>
                                <b>Part Number</b>
                            </div>
                            <div>
                                <b>Description</b>
                            </div>
                            <div>
                                <b>Quantity</b>
                            </div>
                            @foreach (var line in Model.Lines)
                            {
                                <div>
                                    @line.LineNumber
                                </div>
                                <div>
                                    @line.Part.PartNumber
                                </div>
                                <div>
                                    @line.Part.Description
                                </div>
                                <div>
                                    @line.Qty
                                </div>
                                
                                @foreach (var move in line.Moves)
                                {
                                    <div></div>
                                    <div></div>
                                    <div>@move.TextSummary()</div>
                                    <div></div>
                                }
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
}
