@inherits RazorEngineCore.RazorEngineTemplateBase<Linn.Stores2.Domain.LinnApps.Models.StoragePlaceAuditReport>
@{
  <style>
        body { font-family: Trebuchet, sans-serif; font-size: 10px; }

        .title { grid-area: title; }
        .date  { grid-area: date; }
       
        .grid-container {
            column-gap: 10px;
            display: grid;
            grid-template-areas:
              'title date';
            padding: 10px;
            row-gap: 20px;
        }

        .grid-item {
            text-align: right;
        }

        .grid-text-item {
            text-align: left;
            page-break-inside: avoid;
            white-space: pre-wrap;
        }

        .grid-text-no-wrap-item {
            text-align: left;
            white-space: nowrap;
        }

        .grid-description-item {
            text-align: left;
            page-break-inside: avoid;
            word-wrap: break-word;
            width: 270px;
        }
        .column-grid-container {
                column-gap: 10px;
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto;
                row-gap: 10px;
        }

        .footer-grid-container {
            column-gap: 10px;
            row-gap: 30px;
            padding-top: 30px;
            display: grid;
            grid-template-columns: auto auto;
        }
        .page { page-break-after: always; }
    </style>
    
  <div class="page">
      <div class="grid-container">
          <div class="title">
              <b>Storage Place Audit Report</b>
          </div>
            <div class="date"><b>@Model.ReportDate.ToString("dd MMM yyyy")</b></div>
      </div>

      <div class="column-grid-container">
          <div class="grid-text-item"><b>Storage Place</b></div>
          <div class="grid-text-item"><b>Part Number</b></div>
          <div class="grid-text-item"><b>Description</b></div>
          <div class="grid-item"><b>Qty</b></div>
          <div class="grid-text-item"><b>UOM</b></div>
          <div class="grid-item"><b>Alloc</b></div>
          <div class="grid-text-item"><b>Counted</b></div>
          <div class="grid-text-item"><b>Adjust</b></div>
          @foreach (var line in Model.Report.Rows.OrderBy(b => b.SortOrder))
          {
	          <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 0)</div>
	          <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 1)</div>
	          <div class="grid-description-item">@Model.Report.GetGridTextValue(line.RowIndex, 3)</div>
              <div class="grid-item">@($"{Model.Report.GetGridValue(line.RowIndex, 4):N}")</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 5)</div>
              <div class="grid-item">@($"{Model.Report.GetGridValue(line.RowIndex, 6):N}")</div>
              <div class="grid-text-item">_______</div>
              <div class="grid-text-item">_______</div>
          }
      </div>
      <div class="footer-grid-container">
            <div class="grid-text-item">
              <b>Audited By</b> _____________________________
          </div>
          <div class="grid-text-item">
              <b>Date</b> _________________
          </div>
          <div class="grid-text-item">
              <b>Requisition</b> _____________________
          </div>
          <div class="grid-text-item">
              <b>Posted</b> _________________
          </div>
          <div class="grid-text-item">
              <b>Additional Parts</b> _____________________
          </div>
          <div class="grid-text-item">
              ___________________________________
          </div>
      </div>
</div>
}
