@inherits RazorEngineCore.RazorEngineTemplateBase<Linn.Stores2.Domain.LinnApps.Models.StoresTransactionReport>
@{
  <style>
        body { font-family: Trebuchet, sans-serif; font-size: 10px; }

        .title { grid-area: title; }

        .date {
            grid-area: date;
        }
       
        .grid-container {
            column-gap: 10px;
            display: grid;
            grid-template-areas:
               'title date';
            padding: 10px;
            row-gap: 20px;
        }

        .grid-text-item {
            text-align: left;
            page-break-inside: avoid;
            white-space: pre-wrap;
        }

        .grid-text-no-wrap-item {
            text-align: left;
            white-space: nowrap;
        }

        .column-grid-container {
                column-gap: 10px;
                display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
                row-gap: 10px;
        }
        .page { page-break-after: always; }
    </style>
    
  <div class="page">
      <div class="grid-container">
          <div class="title">
              <b>Stores Transaction Report (BINCARD)</b>
          </div>
          <div class="date"><b>@Model.ReportDate.ToString("dd MMM yyyy")</b></div>
      </div>

      <div class="column-grid-container">
          <div class="grid-text-item"><b>Budget Id</b></div>
          <div class="grid-text-item"><b>Budget Date</b></div>
          <div class="grid-text-item"><b>Transaction</b></div>
          <div class="grid-text-item"><b>Requisition</b></div>
          <div class="grid-text-item"><b>Document1</b></div>
          <div class="grid-text-item"><b>Function Code</b></div>
          <div class="grid-text-item"><b>Part Number</b></div>
          <div class="grid-text-item"><b>Qty</b></div>
          <div class="grid-text-item"><b>Amount</b></div>
          <div class="grid-text-item"><b>Booked By</b></div>
          <div class="grid-text-item"><b>Req Ref</b></div>

            @foreach (var line in Model.Report.Rows.OrderBy(b => b.SortOrder))
          {
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 0)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 1)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 2)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 3)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 4)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 5)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 6)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 7)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 8)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 9)</div>
              <div class="grid-text-no-wrap-item">@Model.Report.GetGridTextValue(line.RowIndex, 10)</div>
          }
      </div>
</div>
}
